:host {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.series-list {
    display: flex;
    flex-direction: column;

    .serie-wraper {

    }
}
