@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@100&display=swap');

.page-title {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    color: red;
}
// font-family: 'Lato', sans-serif;