@import "variables";

:host {
    display:flex; 
    flex-direction:column;
    justify-content: space-between;
}
.container {
    $padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - (#{$padding} * 2));
    height: calc(100vh - ($footerHeight + $menuHeight));
    overflow-y: auto;
    padding: 0 $padding;
}